<div>
  Date : {{currentDate | date:'dd/MM/yyyy'}}
  <p appMark>
    {{title  | test:'?':suffixRepeatCount | lowercase}}
  </p>

  <shimon-select  select-data="day-of-week">

  </select>

  <input type="text" tab-after="5"/>
  
  <h1 [class.right]=""
    [class.not-right]=""
    [class.selected]="">All Movies : </h1>
  <h2 *ngIf="selectedMovie">{{selectedMovie.name}}</h2>
  <app-movie-list [movies]="allMovies"
    [selectedMovie]="selectedMovie"
    (selectMovieRequested)="onSelectMovieRequested($event)"></app-movie-list>
</div>