<div class="movie-list-container">
    <table *ngIf="movies?.length" class="blueTable">
        <thead>
            <tr>
                <td>Pic</td>
                <td>Name</td>
                <td>Description</td>
                <td>Length</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of movies"
                (click)="onMovieClicked(item)"
                [class.selected-movie]="item === selectedMovie">
                <td>
                    <img class="movie-pic" [src]="item.imageUrl" />
                </td>
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>{{item.length}} min.</td>
            </tr>
        </tbody>
    </table>
</div>