<div class="board">
    <div 
    class="kefel-item"
    *ngFor="let item of values"
    
    >
    {{item.x}}  &  {{item.y}}
    <div>
        <button
        [routerLink]="['/result', item.x, item.y]" [queryParams]="{op:'+'}"
        >+</button>
        <button
        [routerLink]="['/result', item.x, item.y]" [queryParams]="{op:'-'}"
        >-</button>
        <button
        [routerLink]="['/result', item.x, item.y]" [queryParams]="{op:'/'}"
        >/</button>
        <button
        [routerLink]="['/result', item.x, item.y]" [queryParams]="{op:'*'}"

        >*</button>

    </div>
            

        </div>
</div>